@use '../utilities/variables' as *;
@use '../utilities/extends' as *;


//Boxes

.content-box{
    box-shadow: 0 5px 10px $color0;
    border-radius: 10px;
    padding: 15px;
}

//Boxes

//Carrusel

.img-articulos{
    @extend .flexcenters;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 35px;
    margin-top: 100px;
    figure{
        display: flex;
    }
}

.carrusel-propio{
    max-width: 1000px;
    margin: 0 auto;
}

.etiquetasabajo{
    display: block;
    position: static;
    p{
        margin-bottom: 30px;
    }
}

//Carrusel

